h2{
    display: inline-block;
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    padding: 0 0;
}
h2 span{
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px #ec0404;
    line-height: 1.2em;
    padding: 5px 10px;
    animation: displaytext 12s infinite;
    animation-delay: calc(-3s * var(--i));
}
@keyframes displaytext
{
    0%
    {
        display: inline-block;
    }
    25%,100%
    {
      display: none;
    }
}
h2 span::before{
    content: attr(data-text);
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 100%;
    color: #ec0404;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid #ec0404;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 10px;
    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 5px #ec0404) drop-shadow(0 0 5px #ec0404);

}
@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
      width: 
      100%;
    }
}